@width-container: 1370px;
@font-text: #232642;
@font-montserrat-alternates: Montserrat Alternates;
@font-montserrat: Montserrat;

body {
  background: #ecebf0;
  margin: auto;
}

.container-head {
  background: url(../images/square-with-rounded-edges.png) no-repeat;
  width: 100%;
  height: 1320px;
  background-position: right top;
  margin: auto;
}

.vector {
  width: 100%;
  margin-top: -250px;
  margin-bottom: -5px;
}

header {
  display: flex;
  justify-content: space-between;
  width: @width-container;
  margin: auto;
}

.logo {
  margin-top: 40px;
}

.heading {
  width: 445px;
  height: 137px;
  font-family: @font-montserrat-alternates;
  font-weight: bold;
  font-size: 50px;
  line-height: 146.28%;
  color: @font-text;
  margin-top: 234px;
}

.subheading {
  width: 579px;
  height: 65px;
  font-family: @font-montserrat-alternates;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: @font-text;
  margin-top: 30px;
}

.btn-heading {
  width: 154px;
  height: 22px;
  font-family: @font-montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: @font-text;
  margin-right: 95px;
}

.btn-arrow {
  display: flex;
  margin-top: 45px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-left: auto;
}

.nav-menu {
  font-family: @font-montserrat-alternates;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 73px;
}

.girl-form {
  display: flex;
  margin-top: 174px;
}

.girl {
  width: 328px;
  height: 409px;
  margin-right: 70px;
  margin-top: 240px;
}

.for-title-form {
  width: 401px;
  height: 85px;
  background: #f8f7fc;
  border-radius: 20px 20px 0px 0px;
}

.title-form {
  font-family: @font-montserrat-alternates;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  padding: 26px 0 0 30px;
}

.forms {
  width: 100%;
  background-color: white;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/form-arrow.svg) no-repeat right 5px center / 15px
    auto;
  width: 341px;
  border: 0;
  font-family: @font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: @font-text;
  padding: 5px 30px 5px 10px;
  margin: 40px 0 0 30px;
}

.line {
  width: 341px;
  height: 2px;
  background: #e4e8f0;
  margin: 17px 0 -25px 30px;
}

.search {
  .select;
  background: url(../images/form-search.svg) no-repeat right 5px center / 15px
    auto;
}

.plus {
  .select;
  background: url(../images/form-plus.svg) no-repeat right 5px center / 15px
    auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.for-btn {
  width: 401px;
  background: #f8f7fc;
  margin-top: 60px;
}

.btn {
  width: 341px;
  height: 60px;
  background: #f9703e;
  border: 0;
  border-radius: 100px;
  font-family: @font-montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 35px 0 0 30px;
}

.max-arrow {
  display: flex;
  margin-left: 144px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.max {
  font-family: @font-montserrat-alternates;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: @font-text;
  margin-right: 15px;
}

.for-max {
  .for-btn;
  border-radius: 0 0 20px 20px;
  margin: 0;
}

main {
  background-color: #e3e0f6;
}

.container-main {
  width: @width-container;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main-title {
  font-family: @font-montserrat-alternates;
  font-weight: 800;
  font-size: 36px;
  line-height: 61px;
  color: @font-text;
}

.main-text {
  width: 870px;
  font-family: @font-montserrat-alternates;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: @font-text;
  margin: 44px 0 32px 0;
}

.main-btn {
  width: 240px;
  height: 60px;
  border: 2px solid @font-text;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: @font-montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: @font-text;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qoutes {
  width: 403px;
  height: 278px;
  align-self: flex-end;
}

.question {
  background: url(../images/questions.svg) no-repeat;
  width: 1365px;
  height: 565px;
  margin: 203px auto 0 auto;
  padding-bottom: 200px;
  display: flex;
}

.question-title-text {
  padding: 163px 323px 0 199px;
}

.question-title {
  font-family: @font-montserrat-alternates;
  font-weight: 800;
  font-size: 40px;
  line-height: 59px;
  color: @font-text;
  width: 425px;
}

.question-text {
  font-family: @font-montserrat-alternates;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: @font-text;
  margin-top: 17px;
}

.container-scroll {
  width: @width-container;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 160px 0;
}

.scroll {
  overflow: auto;
  width: 677px;
  height: 670px;
  padding: 5px;
  border: 0;
}

.scroll-title {
  .main-title;
  width: 517px;
}

.scroll-text {
  .main-text;
  width: 584px;
}

.container-scroll ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.container-scroll ::-webkit-scrollbar-track {
  background: #dddaf4;
  border-radius: 10px;
}

/* Handle */
.container-scroll ::-webkit-scrollbar-thumb {
  background-color: #3e328a;
  border-radius: 10px;
}

.test {
  background-attachment: fixed;
  background-position: center;
}

footer {
  background: #433795;
}

.container-footer {
  height: 121px;
  width: @width-container;
  margin: auto;
  display: flex;
  align-items: center;
}

.copyright {
  font-family: @font-montserrat-alternates;
  font-size: 18px;
  line-height: 22px;
  color: #f8f7fc;
}

.footer {
  margin-top: 0;
}
